<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">>

    <!-- 통신 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Android 애플리케이션이 기기가 부팅된 후에 시스템으로부터 부트 완료 브로드캐스트를 수신할 수 있도록 허용하는 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Android 애플리케이션이 진동 기능을 사용할 수 있도록 허용하는 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Android 애플리케이션이 기기의 진동 기능을 사용할 수 있도록 허용하는 권한 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- AlarmManager를 통해 정확한 알람을 설정 -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- Android 애플리케이션이 사용자에게 알림을 게시할 수 있도록 허용 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Android 애플리케이션이 포그라운드 서비스를 시작할 수 있도록 허용 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Android 애플리케이션이 포그라운드 서비스를 시작할 수 있도록 허용 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <!-- Android 애플리케이션이 app_push 허용 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <!-- Android 애플리케이션이 SMS수신 허용 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:label="ibjujun"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- 토스 설정 -->

        <!-- FCM 기본 알림 채널 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />
        <!-- 중요도가 높은 기본 알림 채널 설정 -->


     <!-- 카카오 로그인 커스텀 URL 스킨 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.authorization.authCode.KakaoWebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true" />

        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao25cc33cc258862ad87987baa7b5f4477" android:host="oauth"/>
            </intent-filter>

        </activity>

        <!-- 네이버 로그인  -->
        <!-- 네이버 로그인 설정 추가 -->
        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="@string/client_id" />
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="@string/client_secret" />
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="@string/client_name" />

        <activity android:name="com.naver.nid.oauth.NidOAuthBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="naverlogin" android:host="callback"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- FCM 알림 클릭 이벤트 처리 -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- FCM 메시지 수신을 위한 FirebaseMessagingService -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 알림을 예약하고 처리하는 역할 -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <!-- 기기가 부팅된 후에 특정 작업을 수행 -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <!-- 기기가 부팅 완료된 후 발생하는 브로드캐스트 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 애플리케이션이 업데이트된 후 발생하는 브로드캐스트 -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <!-- 제조사에서 제공하는 빠른 부팅과 관련된 액션 -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
